<!-- Dropdown Structure -->
<style media="screen">
	#logo{
		opacity: .7;
	}
	#logo:hover{
		opacity: 1;
	}
</style>
<ul id="dropdown1" class="dropdown-content">
	<li><a href="/teacher">Dashboard</a></li>
  <li><a href="/teacher/my-profile">My Profile</a></li>
  <li><a href="/teacher/help">Help</a></li>
  <li class="divider"></li>
  <li><a href="/logout">Logout</a></li>
</ul>
<nav>
  <div class="nav-wrapper <%= colorScheme %> darken-2">
    <a href="/teacher" class="brand-logo" style="" id="logo">
      <span><img src="/images/logo.png" class="hoverable responsive-img" width="45px" style="margin-top:19%; margin-left:20%" ></span>
    </a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
<div id="sogousername" style="visibility:hidden"><%= username %></div>
