<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>About Us</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <!-- <link href="stylesheets/bootstrap.css" rel="stylesheet" /> -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- FONT AWESOME CSS -->
    <link href="stylesheets/font-awesome.css" rel="stylesheet" />
    <!-- ANIMATION STYLES -->
    <link href="stylesheets/animate.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="stylesheets/style4.css" rel="stylesheet" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body style="display:none;">
	<script type="text/javascript">

	$(document).ready(function () {
		$('body').fadeIn(200);
		$('div#content').fadeIn(1000);
	});
	</script>
	<div id="content" style="display:none;">

    <div id="home-sec">
        <div id="carousel-example" class="carousel slide" data-ride="carousel">

                    <img src="images/core_background.jpg"/>
                    <div class="carousel-caption">
					<a href="/" class="btn" style="background-color:transparent;"><img src="images/logo.png" width="200px"></a>
                        <h1 class="slide-h1 wow bounceInDown" data-wow-duration="1s">Initiative. Collaboration. Empowerment.</h1>
                        <h2 class="slide-h2 wow bounceInLeft" data-wow-duration="2s" data-wow-delay="1s">
						Our team firmly believes that with these core values, every plan that we make will certainly be attainable.</h2>
                    </div>


            </div>
        </div>
    <!-- HOME SECTION END-->
    <div id="nav">
        <ul class="list-unstyled">
            <li><a data-toggle="tooltip" data-placement="left" title="Core Values" href="#home-sec">Core Values</a></li>
            <li><a data-toggle="tooltip" data-placement="left" title="SOGO Application" href="#sogo-sec">SOGO Application</a></li>
            <li><a data-toggle="tooltip" data-placement="left" title="Operative" href="#operative-sec">Operative</a></li>
            <li><a data-toggle="tooltip" data-placement="left" title="Group" href="#group-sec">Group</a></li>
            <li><a data-toggle="tooltip" data-placement="left" title="Objective" href="#objective-sec">Objective</a></li>
        </ul>
    </div>
    <!-- NAV SECTION END-->

	<!--
	    <section id="features-sec">
        <div class="container ">
            <div class="row pad-btm">
                <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-12">
                    <h1 data-scroll-reveal="enter from the bottom after 0.1s">FEATURES </h1>
                    <p data-scroll-reveal="enter from the bottom after 0.3s">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris sagittis felis dolor, id gravida tellus tempor vitae. In efficitur ipsum non faucibus tempus.
                    </p>
                </div>

            </div>
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 text-center" data-scroll-reveal="enter from the bottom after 0.5s">
                    <i class="fa fa-recycle fa-5x"></i>
                    <h4 >Responsive Design</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 text-center" data-scroll-reveal="enter from the bottom after 0.7s" >
                    <i class="fa fa-briefcase fa-5x"></i>
                    <h4>Easy to Customize</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 text-center" data-scroll-reveal="enter from the bottom after 0.9s">
                    <i class="fa fa-history fa-5x"></i>
                    <h4>Free to Use</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Lorem ipsum dolor sit amet.
                    </p>
                </div>

            </div>

        </div>

    </section>
    FEATURE SECTION END-->

    <section id="sogo-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-12">
					<img data-scroll-reveal="enter from the bottom after 0.1s" src="images/sogo_s.png" width="250px" style="margin-left:250px;"/>
                    <p data-scroll-reveal="enter from the bottom after 0.3s">
                       So Random, So Good (SOGO) is a product of hard work of CMSC 128 AB-2L of Second Semester, A.Y. 2015-2016.
					   SOGO is an online web application that allows lecturers and instructors to randomly choose students to participate in the class.

                    </p>
                </div>

            </div>
        </div>
    </section>

	    <section id="operative-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-12">
                    <img  data-scroll-reveal="enter from the bottom after 0.1s"src="images/sogo_o1.png" width="250px" style="margin-left:250px;"/>
                    <p data-scroll-reveal="enter from the bottom after 0.3s">
                       Through the great efforts of the team leaders, together with its members, the application was accomplished on May 3, 2016.
					   The team is composed of five sub-teams namely Berners-Lee, Hopper, Lovelace, Turing, Von Neumann.

                    </p>
                </div>

            </div>
        </div>
    </section>
    <!-- ABOUT SECTION END-->

    <section id="group-sec">
        <div class="container">
            <div class="row pad-btm">
                <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-12">
                    <img data-scroll-reveal="enter from the bottom after 0.1s" src="images/sogo_g.png" width="250px" style="margin-left:250px;">
                    <p data-scroll-reveal="enter from the bottom after 0.3s">
                       Meet the team members...
                    </p>

					<!--PM-->
					<div data-scroll-reveal="enter from the bottom after 0.5s">
						<button class="pm">PROJECT MANAGER</button>
						<div class="tls">
							<div class="berners-lee">
							TEAM BERNERS-LEE
							</div>
							<div class="berners-lee_members">
							TEAM BERNERS-LEE
							</div>

							<div class="hopper">
							TEAM HOPPER
							</div>

							<div class="hopper_members">
							TEAM HOPPER
							</div>

							<div class="lovelace">
							TEAM LOVELACE
							</div>
							<div class="lovelace_members">
							TEAM LOVELACE
							</div>

							<div class="turing">
							TEAM TURING
							</div>
							<div class="turing_members">
							TEAM TURING
							</div>

							<div class="von-neumann">
							TEAM VON NEUMANN
							</div>
							<div class="von-neumann_members">
							TEAM VON NEUMANN
							</div>
						</div>
						<script>
							$( ".pm" ).click(function() {
							  $( ".tls" ).slideToggle( "slow" );
							});

							$( ".berners-lee" ).click(function() {
							  $( ".berners-lee_members" ).slideToggle( "slow" );
							});

							$( ".hopper" ).click(function() {
							  $( ".hopper_members" ).slideToggle( "slow" );
							});

							$( ".lovelace" ).click(function() {
							  $( ".lovelace_members" ).slideToggle( "slow" );
							});

							$( ".turing" ).click(function() {
							  $( ".turing_members" ).slideToggle( "slow" );
							});

							$( ".von-neumann" ).click(function() {
							  $( ".von-neumann_members" ).slideToggle( "slow" );
							});
						</script>
					</div>

                </div>


            </div>
            <div class="row">

            </div>
        </div>

    </section>
    <!-- TEAM SECTION END-->
    <section id="objective-sec">
        <div class="container">
            <div class="row pad-btm">
                <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-12">
                    <img data-scroll-reveal="enter from the bottom after 0.1s" src="images/sogo_o2.png" width="250px" style="margin-left:250px;">
                    <p data-scroll-reveal="enter from the bottom after 0.3s">
                        The SOGO project is meant to offer a volunteer selection solution that is faster, easier and more convenient
						to use than manually selecting volunteers. Users of this web based application will mainly be teachers, lecturers,
						and instructors. These users should be able to navigate through the site and use the site’s features like randomizing
						volunteers for a specific activity, looking through the history log of the class and many more. With an intuitive interface,
						technical expertise and experience should not be an issue with regards to the users.
                    </p>
                </div>

            </div>

                 </div>

    </section>
    <!-- CONTACT SECTION END-->
    <div id="footer-sec">

    </div>
    <!-- FOOTER SECTION END-->
    <!--CORE SCRIPTS-->
    <script src="javascripts/utils/jquery-1.11.1.js"></script>
    <!--BOOTSTRAP SCRIPTS-->
    <!-- <script src="javascripts/utils/bootstrap.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!--WOW SCRIPTS-->
    <script src="/javascripts/utils/wow.js"></script>
    <!--SCROLL SCRIPTS-->
    <script src="/javascripts/utils/jquery.smooth-scroll.min.js"></script>
    <!--SCROLL ANIMATION SCRIPTS-->
    <script src="/javascripts/utils/scrollReveal.js"></script>
    <!--CUSTOM SCRIPTS-->
    <script src="/javascripts/utils/custom.js"></script>
    </div>
</body>

</html>
