<!-- INDEX PAGE -->
<!--
	- details about the website
	- with about page (developers)
	- links to login/signup page
	- links to guest randomizer
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%- title %></title>

		<!-- jQuery -->
		<%- include ./../utils/jquery %>
	<meta name="description" content="A class randomizer catered for teachers. Para masaya sogo na!" >
	<meta name="author" content="Pat Ganaden">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- Bootstrap  -->
	<!-- <link href="stylesheets/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- icon fonts font Awesome -->
	<link href="stylesheets/font-awesome.min.css" rel="stylesheet">

	<!-- Custom Styles -->
	<link href="stylesheets/style-2.css" rel="stylesheet">

		<!-- Font Smoothing -->
		<%- include ./../utils/font-smoothing %>

		<style media="screen">
			#preloader {
				position:fixed;
				padding:0;
				margin:0;

				top:0;
				left:0;

				width: 100%;
				height: 100%;
				background-color: white;
				z-index: 1000;
			}
			#rubiks {
				position: fixed;
				top: 50%;
				left: 50%;
				margin-top: -25px;
				margin-left: 0px;
			}
			.loader,
			.loader:before,
			.loader:after {
			  background: #ff2600;
			  -webkit-animation: load1 1s infinite ease-in-out;
			  animation: load1 1s infinite ease-in-out;
			  width: 1em;
			  height: 4em;
			}
			.loader:before,
			.loader:after {
			  position: absolute;
			  top: 0;
			  content: '';
			}
			.loader:before {
			  left: -1.5em;
			  -webkit-animation-delay: -0.32s;
			  animation-delay: -0.32s;
			}
			.loader {
			  color: #ff2600;
			  text-indent: -9999em;
			  margin: 88px auto;
			  position: relative;
			  font-size: 11px;
			  -webkit-transform: translateZ(0);
			  -ms-transform: translateZ(0);
			  transform: translateZ(0);
			  -webkit-animation-delay: -0.16s;
			  animation-delay: -0.16s;
			}
			.loader:after {
			  left: 1.5em;
			}
			@-webkit-keyframes load1 {
			  0%,
			  80%,
			  100% {
			    box-shadow: 0 0;
			    height: 4em;
			  }
			  40% {
			    box-shadow: 0 -2em;
			    height: 5em;
			  }
			}
			@keyframes load1 {
			  0%,
			  80%,
			  100% {
			    box-shadow: 0 0;
			    height: 4em;
			  }
			  40% {
			    box-shadow: 0 -2em;
			    height: 5em;
			  }
			}
		</style>
	</head>
	<body>
	<!-- Main Menu -->
	<div id="preloader" class="">
		<!-- <img id="rubiks" src="/images/loader/preloader.gif" alt="p"/> -->
		<div id="rubiks" class="loader">Loading...</div>
	</div>
	<!-- Page Top Section -->
	<section id="page-top" class="section-style">

		<div class="height-resize">
			<div class="container">
				<h1 class="site-title">
					<img src="images/logo.png" alt="logo" width="200px;" style="margin-bottom: -20px;"/>
				</h1><!-- /.site-title -->

				<h2 class="site-title" style="font-size:50px; margin-top:-20px; margin-bottom: -40px;">
					So Random! So Good!
				</h2><!-- /.Section-title  -->
				<div id="time_countdown" class="time-count-container" >

					<div class="col-sm-3">
						<div class="time-box">
							<a href="/randomizer" style="text-decoration: none; color: white;">
							<div class="time-box-inner dash days_dash animated" data-animation="rollIn" data-animation-delay="300">
								<br/><span class="glyphicon glyphicon-refresh" style="font-size: 70px;"width="250px"></span><br/>
								<span class="time-name">RANDOMIZER</span>
							</div>
							</a>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="time-box">
							<a href="/login" style="text-decoration: none; color: white;">
							<div class="time-box-inner dash hours_dash animated" data-animation="rollIn" data-animation-delay="600">
								<br/><span class="glyphicon glyphicon-user" style="font-size: 70px;"width="250px"></span><br/>
								<span class="time-name">LOG IN</span>
							</div>
							</a>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="time-box">
							<a href="/help" style="text-decoration: none; color: white;">
							<div class="time-box-inner dash minutes_dash animated" data-animation="rollIn" data-animation-delay="900">
								<br/><span class="glyphicon glyphicon-question-sign" style="font-size: 70px;"width="250px"></span><br/>
								<span class="time-name">HELP</span>
							</div>
							</a>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="time-box">
							<a href="/about-us" style="text-decoration: none; color: white;">
							<div class="time-box-inner dash seconds_dash animated" data-animation="rollIn" data-animation-delay="1200">
								<br/><span class="glyphicon glyphicon-globe" style="font-size: 70px;"width="250px"></span><br/>
								<span class="time-name">ABOUT US</span>
							</div>
							</a>
						</div>
					</div>

				</div><!-- /.time-count-container -->


		<!-- Modernizr js -->
		<script type="text/javascript" src="javascripts/utils/modernizr-2.8.0.min.js"></script>
		<!-- Plugins -->
		<script type="text/javascript" src="javascripts/utils/plugins-3.js"></script>
		<!-- Custom JavaScript Functions -->
		<script type="text/javascript" src="javascripts/utils/functions.js"></script>
		<!-- Custom JavaScript Functions -->
		<script type="text/javascript" src="javascripts/utils/jquery.ajaxchimp.min.js"></script>

	</body>

</html>
