<!-- PreLoader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left" style="background-color:white;"></div>
    <div class="loader-section section-right" style="background-color:white;"></div>
</div>
